stages:
  - lint
  - test
  - build
  - publish

pylint:
  image: python
  stage: lint
  script:
    - pip install . pylint
    - pylint *.py test
  needs: [ ]
  dependencies: [ ]

pytest:
  image: python
  stage: test
  artifacts:
    reports:
      junit: pytest.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  coverage: /^TOTAL[\\s\\d]+\\s(\\d+\\%)$/
  script:
    - pip install . pytest coverage
    - coverage run --source=flask_security_txt -m pytest --junitxml pytest.xml test
    - coverage xml -o coverage.xml
    - coverage report
  needs: [ ]
  dependencies: [ ]

setup:
  image: python
  stage: build
  artifacts:
    paths:
      - dist/*
  script:
    - pip install --upgrade build
    - python -m build

.publish:
  image: python
  stage: publish
  script:
    - pip install twine
    - python -m twine upload --verbose --repository $TWINE_REPOSITORY dist/*

test-pypi:
  extends: .publish
  environment:
    name: TestPyPI
    url:  https://test.pypi.org/project/Flask-SecurityTxt/
  variables:
    TWINE_USERNAME:   __token__
    TWINE_PASSWORD:   $TEST_PYPI_TOKEN
    TWINE_REPOSITORY: testpypi
  dependencies:
    - setup
  only:
    - develop

pypi:
  extends: .publish
  environment:
    name: PyPI
    url:  https://pypi.org/project/Flask-SecurityTxt/
  variables:
    TWINE_USERNAME:   __token__
    TWINE_PASSWORD:   $PYPI_TOKEN
    TWINE_REPOSITORY: pypi
  dependencies:
    - setup
  only:
    - master

gitlab:
  extends: .publish
  variables:
    TWINE_USERNAME:        $CI_REGISTRY_USER
    TWINE_PASSWORD:        $CI_REGISTRY_PASSWORD
    TWINE_REPOSITORY:      gitlab
    TWINE_REPOSITORY_URL:  $CI_API_V4_URL/projects/$CI_PROJECT_ID/packages/pypi
  dependencies:
    - setup
  only:
    - master
