stages:
  - lint
  - test
  - build
  - publish

pylint:
  image: python
  stage: lint
  script:
    - pip install . pylint
    - pylint *.py
  needs: [ ]
  dependencies: [ ]

pytest:
  image: python
  stage: test
  artifacts:
    reports:
      junit: pytest.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  coverage: /^TOTAL[\\s\\d]+\\s(\\d+\\%)$/
  script:
    - pip install . pytest coverage
    - coverage run --source=flask_security_txt -m pytest --junitxml pytest.xml test
    - coverage xml -o coverage.xml
    - coverage report
  needs: [ ]
  dependencies: [ ]

setup:
  image: python
  stage: build
  artifacts:
    paths:
      - dist/*
  script:
    - pip install . setuptools wheel
    - python setup.py sdist bdist_wheel

test-pypi:
  image: python
  stage: publish
  variables:
    TWINE_USERNAME: __token__
    TWINE_PASSWORD: $TEST_PYPI_TOKEN
  script:
    - pip install twine
    - python -m twine upload --repository testpypi dist/*
  dependencies:
    - setup
  only:
    - develop

pypi:
  image: python
  stage: publish
  variables:
    TWINE_USERNAME: __token__
    TWINE_PASSWORD: $PYPI_TOKEN
  script:
    - pip install twine
    - python -m twine upload --verbose dist/*
  dependencies:
    - setup
  only:
    - master

gitlab:
  image: python
  stage: publish
  variables:
    TWINE_USERNAME:        $CI_REGISTRY_USER
    TWINE_PASSWORD:        $CI_REGISTRY_PASSWORD
    TWINE_REPOSITORY_URL:  $CI_API_V4_URL/projects/$CI_PROJECT_ID/packages/pypi
  script:
    - pip install twine
    - python -m twine upload --verbose --repository gitlab dist/*
  dependencies:
    - setup
  only:
    - master
